@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* Fonts */
  --font-inter: Inter;
  --secondary-typeface-ubuntu-4: Ubuntu;
  --font-rubik: Rubik;

  /* Font sizes */
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --main-typeface-inter-1-size: 24px;
  --main-typeface-inter-2-size: 32px;
  --secondary-typeface-ubuntu-4-size: 48px;
  --secondary-typeface-ubuntu-3-size: 40px;
  --secondary-typeface-ubuntu-5-size: 64px;
  --font-size-base: 16px;
  --font-size-9xl: 28px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-darkgray: #a9a9a9;
  --color-mediumpurple: #b38af1;
  --brand-color-1: #d5dad7;
  --brand-color-4: #101812;
  --brand-color-5: #97a39a;
  --brand-color-6: #18241b;
  --brand-color-7: #748479;
  --brand-color-9: #526658;
  --brand-color-10: #273b2d;
  --brand-color-12: #2f4736;
  --brand-color-101: #d9f3dd;
  --color-dimgray-100: #526657;
  --color-gainsboro-100: #d9d9d9;

  /* Gaps */
  --gap-base: 16px;
  --gap-xs: 12px;
  --gap-3xl: 22px;
  --gap-5xs: 8px;
  --gap-10xs: 3px;
  --gap-49xl: 68px;
  --gap-5xl: 24px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-13xl: 32px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-5xs: 8px;
}

input {
  
    appearance: none;
    border-radius: 0;
  
 }