.onboarding2Child {
    position: absolute;
    top: 0;
    left: 0;
    width: 573px;
    height: 915px;
    overflow: hidden;
  }
  .haveYouPurchased {
    position: absolute;
    top: 166px;
    left: 638px;
    font-size: var(--secondary-typeface-ubuntu-4-size);
    font-family: var(--secondary-typeface-ubuntu-4);
    display: inline-block;
    width: 475px;
  }
  .afrikanLover {
    position: relative;
    font-weight: 600;
  }
  .afrikanLoverContainer,
  .afrikanLoverWrapper {
    position: absolute;
    left: 638px;
    border-radius: var(--br-5xs);
    box-sizing: border-box;
    width: 475px;
    height: 54px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-5xl) var(--padding-13xl);
    align-items: center;
    justify-content: center;
  }
  .afrikanLoverWrapper {
    top: 585px;
    background-color: #b38af1;
    color: var(--color-white);
  }
  .afrikanLoverContainer {
    top: 663px;
    border: 1px solid var(--brand-color-12);
    color: var(--brand-color-12);
  }
  .frameChild {
    width: 32px;
    height: 32px;
  }
  .frameChild,
  .yesILove {
    position: relative;
  }
  .instanceGroup,
  .instanceParent {
    position: absolute;
    top: 308px;
    left: 663px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .instanceGroup {
    top: 372px;
  }
  .onboarding2 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 915px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  